@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
}

@keyframes slow-spin {
  from { transform: rotateX(-20deg) rotateY(0deg); }
  to { transform: rotateX(-20deg) rotateY(360deg); }
}

.animate-slow-spin {
  animation: slow-spin 20s linear infinite;
}
